.header{
    background-image: url('images/Kellsoft.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
    background-attachment: fixed;
}
.navitems{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.navitems.sticky{
    background-color: #020210;
}

.text3{
    color: white;
    text-align: center; 
    font-family:chewy;
    transition: 0.5s;
}
.text3:hover{
    color: rgb(27, 27, 133);
}

.btn{
    position: absolute;
    top: 90%;
    left: 46%;
    
}
#btn1:hover{
    background-color: rgba(15, 23, 92, 0.267);   

}
.services{
    background-image: url('images/kellsofttheme.png');
    background-size: cover;  
}
.row .card{
    height: 400px;   
    background: rgba(95, 95, 109, 0.178); 
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(75, 70, 70, 0.185);
    box-shadow: 20px 20px 22px rgba(15, 13, 13, 0.822);
    font-family: 'Poppins',sans-serif;
}
 .row .card-img{
    height: 120px;
    width: 120px;
    background-color: rgba(119, 110, 110, 0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: 30px auto 20px  auto;
    left: 0;
    right: 0;
}
.row .card-img img{
    height: 86%;
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
}
.desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
}
#glass-button{
    background: rgba(70, 70, 77, 0.438);
    border: none;

}
#glass-button{
    width: 80%;
    padding: 15px 0;
    position: absolute;
    left: 10%;
    top: 240px;
    border-radius: 5px;
    outline: none;
}
#cards{
    height: 17em;   
}
#glass-butto{
    background: rgba(70, 70, 77, 0);
    border: none;

}
#glass-butto{
    width: 80%;
    padding: 15px 0;
    position: absolute;
    left: 10%;
    top: 240px;
    border-radius: 5px;
    outline: none;
}
.primary-tex{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
@media only screen and (max-width: 767px) {
    .heading{
        background-image: url('images/kellsoftiphone6.png');
        background-size: 100%;
        height: 33em;
    }
}
@media only screen and (max-width: 767px) {
    .servicesmall{
        background-image: url('images/kellsoftthemeiphone61.png');
        background-size: 100%;
        height: auto;
    }
}
.navbar-toggler{
    margin-left: 78%;
}
.footersection{
    background: #020210f5;
    color: white;
    text-align: center;
}
.text2{
    font-family: 'chewy', sans-serif;
    font-size: 30px;
    text-align: end;
}
.footerlogo{
    height: 35px;
    width: 35px;
}